/* Style for the blog post form container */
.blog-post-form-container {
    border-radius: 8px;
    padding: 1rem 2rem;
    background-color: #8d6f5a;
    border-radius: 15px;
    color:#ececec;
    -webkit-box-shadow: -7px 9px 29px -15px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 9px 29px -15px rgba(0,0,0,0.75);
    box-shadow: -7px 9px 29px -15px rgba(0,0,0,0.75);
    cursor:pointer;
  }

  .caret-right-fill{
    height: min-content;
    animation: trans;
    transition: transform 0.3s ease;
  }

  .caret-right-fill.expanded{
 
    transform: rotate(90deg);
  }


  
  /* Heading style */
  .blog-post-form-container h2 {
    text-align: center;
    color:#f7f9fc;
    font-size: 2em;
    margin-left: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.5px;
  }
  
  /* Label styling */
  .blog-form label {
    font-size: 1.5em;
    display: block;
    text-align: left;
    margin-bottom: 1rem;
    color: #f7f9fc;
  }
  
  /* Input and textarea styling */
  .blog-form input[type="text"],
  .blog-form textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
    background-color: #f7f9fc;
    color: #363636;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
    font-style: normal;
    border-style: none;
    align-items: center;
  }

    /* Input and textarea styling */
    .blog-form input[type="text"]:focus,
    .blog-form textarea:focus {
        outline: 3px solid #363636;
;
    }
  
  /* Textarea specific styling */
  .blog-form textarea {
    resize: vertical;
    min-height: 150px;
  }
  
  /* Submit button styling */
  .blog-form button {
    align-self: right;
    background-color: #258dee;
    color: #f7f9fc;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    display: flex;
    margin: 0 0 0 auto;
    width: 25%;
    font-family: "DM Serif Display", serif;
    font-weight: 600;
    font-style: normal;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    gap: 4px;
  }
  
  .blog-form button:hover {
    background-color: #0056b3;
  }

  .blog-form button:disabled {
    /* Define a gradient background that blends shades of blue */
    background: linear-gradient(45deg, #0056b3, #983eff, #ff7b00);
    /* Increase the size to allow room for animation */
    background-size: 400% 400%;
    /* Apply the gradient animation */
    animation: gradientAnimation 5s ease infinite;
    
    /* Additional styling for a nicer disabled look */
    border: none;
    color: #ffffff;
    cursor: not-allowed;
  }
  
  /* Keyframes to animate the background's position, creating a gradient moving effect */
  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .char-count{
    font-size: 1rem;
    color: #f7f9fc;
    margin: 0px;
    padding: 0px;
  }
  
  
  /* Success and error messages */
  .blog-form .success {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: center;
    text-align: center;
    margin-top: 1rem;
  }
  
  .blog-form .error {
    text-align: center;
    margin-top: 1rem;
  }

  .blog-post-form-container {
    margin: 25px 0px;
  }
  
  